<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-secondary text-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">M2i Formation </div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-secondary text-light">Dashboard</a>
      <a href="#" class="list-group-item list-group-item-action bg-secondary text-light">Formations</a>
      <a href="#" class="list-group-item list-group-item-action bg-secondary text-light">Tarifs</a>
      <a href="#" class="list-group-item list-group-item-action bg-secondary text-light">Langages</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary text-light">

      <div class="container-fluid justify-content-end">

        <form class="d-flex ">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="button">Search</button>
        </form>
      </div>

    </nav>
    <div class="container-fluid">
      <h1 class="mt-4">Content</h1>

    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
